.transactions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}

.transactionsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 55vw;
}

.transactionsBox ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    padding: 0;
    width: 90%;
    max-height: calc(87vh - 100px);
    overflow-y: scroll;
}

.transactionsBox li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px;
    padding: 0px 60px 0 60px;
    background-color: rgba(0, 0, 0, 0.12);
    color: white;
    backdrop-filter: blur(5px);
    width: 33vw;
    border: 1px solid rgb(72, 23, 100);
}

.transactionsBox .descriptionDate {
    align-items: flex-start;
}

.transactionsBox .descriptionDate .des {
    line-height: 0;
}

.transactionsBox .descriptionDate .dateTime {
    font-size: 1vw;
    font-weight: 400;
    color: rgb(179, 179, 179);
    line-height: 0;
    text-align: left;
}




@media (max-width: 520px) {
    .transactionsBox {
        width: 94vw;
    }


    .transactionsBox li {
        width: 70vw;
        padding: 0px 20px 0 20px;

    }

    .descriptionDate .dateTime {
        font-size: 3vw;
    }

    #dateTime {
        font-size: 2.5vw;
    }

    .transactions {
        height: 85vh;
    }
}