.registerpage {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: calc(100vh - 21vh);
}

.registerpage .registerform {
    height: max-content;
    width: max-content;
    background-color: transparent;
    border: 2px solid yellow;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 40px 40px 40px;
}

.registerpage .registerform h1 {
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

.registerpage .registerform .or {
    font-size: 1rem;
    margin: 14px 0;
    color: yellow;
    font-weight: 600;
}

.registerpage .registerform .continue {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0px 0px 20px 0px;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginButtons button:hover {
    cursor: pointer;
}

.loginButtons button {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 25vw;
    /* margin: 10px 0 10px 0; */
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.loginButtons button img {
    height: 30px;
    margin-right: 10px;
    /* margin-left: 15px; */
    align-items: baseline;
}

.loginButtons .facebook {
    margin-top: 20px;
}

.factive {
    margin-top: 20px;
    background-color: grey;
}

.loginButtons .active {
    background-color: grey;
}

@media (max-width: 520px) {

    .registerpage {
        height: calc(100vh - 19.5vh);
    }

    .registerpage .registerform h1 {
        font-size: 23px;
    }

    .registerpage .registerform {
        padding: 25px 28px;

    }

    .registerpage .registerform .loginButtons button {
        width: 65vw;
    }

    .registerpage .registerform .terms {
        width: 60vw;
    }

    .registerpage {
        margin-top: -5vh;
    }

    .error {
        width: 60vw;
    }
}