.hero {
    color: white;
    text-align: left;
    width: 55%;
}

.homeScreen {
    height: calc(100vh - 15vh)
}

.homeScreenBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    /* width: 100%; */
}

.hero h1 {
    font-size: 3.7rem;
    font-weight: 900;
    line-height: 30px;
}

.hero h3 {
    font-size: 2rem;
    font-weight: 300;
}

.startButton {
    font-size: 1.3rem;
    color: yellow;
    border: 3px solid yellow;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: transparent;
}