.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    padding: 0px 70px 0 70px;
    background-color: rgba(0, 0, 0, 0.158);
    color: white;
    backdrop-filter: blur(5px);
}


.navbarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarLogo img {
    height: 5vw;
}

.navbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbuttons .profilePic {
    height: 30px;
    padding: 0 26px 0 26px;
    margin-left: 20px;
    border-left: 0.5px solid white;
}

.navbuttons .listIcon {
    height: 24px;
    margin-right: 20px;
}

.loginButton {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.registerButton {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid yellow;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}

.loginButton,
.registerButton:hover {
    cursor: pointer;
}

/* .registerButton {
    border: 2px solid yellow;
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: 25px;
} */

@media (max-width: 420px) {
    .Navbar {
        height: 9vh;
        padding: 0px 20px 0 20px;

    }

    .navbarLogo img {
        height: 10.5vw;
    }

    .loginButton {
        display: none;
    }

    .registerButton {
        font-size: 0.9rem;
        color: aliceblue;
    }

    .navbuttons {}

    .navbuttons .profilePic {
        height: 27px;
        padding: 0 0px 0 26px;
    }

    .navbuttons .listIcon {
        height: 20px;
        margin-right: 18px;
    }

    .navbuttons .profilePic {
        margin-left: 15px;
        border-left: 0.3px solid white;
    }
}