.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    padding: 0px 70px 0 70px;
    background-color: rgba(0, 0, 0, 0.12);
    color: white;
    backdrop-filter: blur(5px);
}


.navbarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarLogo img {
    height: 5vw;
}

.navbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbuttons .profilePic {
    height: 30px;
    padding: 0 26px 0 26px;
    margin-left: 20px;
    border-left: 0.5px solid white;
}

.navbuttons .listIcon {
    height: 24px;
    margin-right: 20px;
}

.loginButton,
.registerButton {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.loginButton,
.registerButton:hover {
    cursor: pointer;
}

.registerButton {
    border: 2px solid yellow;
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: 25px;
}